<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>更新</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<header th:replace="~{header}"></header>
		<hr>

	<h1>更新</h1>
	
	<form th:action="'/medicine/'+${medicine.id}+'/edit'" method="post">
			<table border="1">
				<tr>
					<th>薬の名前</th>
					<td>
						<input type="text" name="name" th:value="${medicine.name}">
					</td>
				</tr>
				<tr>
					<th>個数</th>
					<td>
					<select name="count">
						<option value="1">1個</option>
						<option value="2">2個</option>
						<option value="3">3個</option>
						<option value="4">4個</option>
						<option value="5">5個</option>
										</select>
									</td>
								</tr>
								<tr>
									<th>飲む時間帯</th>
									<td>
										<select name="dtime">
											<option th:value="${medicine.dtime}" th:text="${medicine.dtime}"></option>
											<option value="朝">朝</option>
											<option value="昼">昼</option>
											<option value="夜">夜</option>
										</select>
									</td>
								</tr>
								<tr>
									<th>食前食後</th>
									<td>
										<select name="around">
											<option th:value="${medicine.around}" th:text="${medicine.around}"></option>
											<option value="食前">食前</option>
											<option value="食後">食後</option>
										</select>
									</td>
								</tr>
				<tr>
					<th>備考</th>
					<td>
						<input type="text" name="note" th:value="${medicine.note}">
					</td>
				</tr>
			</table>
			<input type="submit" value="登録">
		</form>

</body>
</html>