<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>メイン画面</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<header th:replace="~{header}"></header>
		<hr>

	<h1>服薬一覧</h1>
	<main>
	<table border="1">
		<tr>
			
			<th>名前</th>
			<th>個数</th>
			<th>飲んだかチェック</th>
			<th>備考</th>
			<th>更新</th>
			<th>削除</th>
		</tr>
		<tr th:each="medic:${medicines}">
			
			<td th:text="${medic.name}"></td>
			<td th:text="${medic.count}"></td>
			
			<td>
				
				<div th:unless="${medic.check}">
					<form th:action="'/medicine/'+${medic.id}+'/check'" method="post">
					飲んでいません	
					<input  type="hidden" name="check" value="true">
					<div  align="right">
					<button type="submit" class="button2">飲んだ</button>
					</div>					
				</form>	
				</div>
				
				<div th:if="${medic.check}">
					<form th:action="'/medicine/'+${medic.id}+'/check'" method="post">
						飲みました
						<input  type="hidden" name="check" value="false">
						<div  align="right">
					<button type="submit" class="button2">元に戻す</button>	
						</div>
				</div>
			</td>
			<td th:text="${medic.note}"></td>
			<td>
			<form th:action="'/medicine/'+${medic.id}+'/edit'" method="get">
			  	<button class="button2">更新</button>
			</form>
			</td>
			
			<td>
			<form th:action="'/medicine/'+${medic.id}+'/delete'" method="post"
			 onclick="return confirm('削除してもよろしいですか？');">
				<button class="submit1">削除</button>
			</form>
			</td>
		</tr>
	</table>
	<form action="/medicine/add" method="get">
		<button class="button1">薬の追加</button>
	</form>
	</main>
</body>
</html>