<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>メイン画面</title>
</head>
<body>
	<h1>服薬一覧</h1>
	<table border="1">
		<tr>
			<th>No</th>
			<th>名前</th>
			<th>個数</th>
			<th>服薬確認</th>
			<th>備考</th>
			<th>更新</th>
			<th>削除</th>
		</tr>
		<tr th:each="medic:${medicines}">
			<td th:text="${medic.id}"></td>
			<td th:text="${medic.name}"></td>
			<td th:text="${medic.count}"></td>
			<td th:text="${medic.check}"></td>
			<td th:text="${medic.note}"></td>
			<td><button>更新</button></td>
			<td><button>削除</button></td>
		</tr>
	</table>
</body>
</html>