<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>薬の追加</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<header th:replace="~{header}"></header>
		<hr>

	<h1>薬の追加</h1>
	<form th:action="'/medicine/add'" method="post">
			<table border="1">
				<tr>
					<th>薬の名前</th>
					<td>
						<input type="text" name="name">
					</td>
				</tr>
				<tr>
					<th>個数</th>
					<td>
						<select name="count">
							<option value="1">1個</option>
							<option value="2">2個</option>
							<option value="3">3個</option>
							<option value="4">4個</option>
							<option value="5">5個</option>
						</select>
					</td>
				</tr>
				<tr>
					<th>飲む時間帯</th>
					<td>
						<select name="dtime">
							<option value="朝">朝</option>
							<option value="昼">昼</option>
							<option value="夜">夜</option>
						</select>
					</td>
				</tr>
				<tr>
					<th>食前食後</th>
					<td>
						<select name="around">
							<option value="食前">食前</option>
							<option value="食後">食後</option>
						</select>
					</td>
				</tr>
				<tr>
					<th>処方日数</th>
					<td>
						<select name="count2">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option>
						<option value="13">13</option>
						<option value="14">14</option>
						<option value="15">15</option>
						<option value="16">16</option>
						<option value="16">17</option>
						<option value="18">18</option>
						<option value="19">19</option>
						<option value="20">20</option>
						</select>
					</td>
				</tr>
				<tr>
					<th>備考</th>
					<td>
						<input type="text" name="note">
					</td>
				</tr>
			</table>
			<input type="submit" value="登録">
			
			<input type="hidden" th:value="${user.id}" name="userid">
		</form>

</body>
</html>